<template>
  <component :is="currentLayout">
    <Nuxt />
  </component>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {}
  },
  computed: {
    currentLayout() {
      return this.$store.state.layout || 'MainLayout'
    }
  }
})
</script>
