<template>
  <div>
    <label>Company: </label>
    <el-select
      v-model="companyId"
      placeholder="Select a company"
      @change="onChange"
    >
      <el-option
        v-for="item in companyOpts"
        :key="item.id"
        :label="item.localName"
        :value="item.id"
      ></el-option>
    </el-select>

    <br />
    <br />

    <el-button type="primary" @click="isId = !isId"> Restart Sub</el-button>

    <br />
    <br />

    You've subscript to
    {{ JSON.stringify(company) }}

    <br />
    <br />

    <NuxtLink to="/dashboard">Dashboard</NuxtLink>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  meta: {
    layout: 'MainLayout'
  },
  data() {
    return {
      companies_subscription: <Object | null>null,
      companies_dataCursor: <Object | null>null,
      company: <object | null>null,
      // Select
      companyOpts: new Array<Object>(),
      companyId: <String>'',
      isId: false
    }
  },
  watch: {
    async companyId(value) {
      if (this.companies_subscription)
        await this.companies_subscription.restart([{ _id: this.isId }])
    },
    async isId(value) {
      this.companies_subscription
        .restart([{ _id: { $exists: value } }])
        .then(async () => {
          // Wait till sub ready
          await this.companies_subscription.ready()

          // Set data
          this.companyOpts = [...this.companies_dataCursor.data()]
        })
        .catch((error) => {
          console.log('error::: ', error)
        })
    },
    companyDataTable(value) {
      console.log('data change', value)
    }
  },
  async created() {
    if (process.client && this.$meteor) {
      await this.$meteor.connect()

      this.$meteor.connect().then(async () => {
        // subscript to company
        this.companies_subscription = this.$meteor.subscribe('app.company', {
          _id: { $exists: this.isId }
        })

        // Wait till sub ready
        await this.companies_subscription.ready()

        // Reactive collection
        this.companies_dataCursor = await this.$meteor
          .collection('app_companies')
          .reactive()

        // Set data
        this.companyOpts = [...this.companies_dataCursor.data()]

        // On collection change
        this.companies_dataCursor.onChange(async (data) => {
          if (await this.companies_subscription.isReady()) {
            this.companyOpts = data()
          }
        })
      })
    }
  },
  destroyed() {
    if (process.client) {
      // you should stop subs and reactive collections
      // when your app's logic doesn't need it anymore
      if (this.companies_dataCursor != null) {
        this.companies_dataCursor.stop()
        this.companies_dataCursor = null
      }
      if (this.companies_subscription) {
        this.companies_subscription.remove()
        this.companies_subscription = null
      }
    }
  },
  mounted() {
    if (process.client) {
      // this.getCompanies()
    }
  },
  methods: {
    // async getCompanies(): Promise<void> {
    //   // with empty selector, we're gonna get all the companies
    //   this.companyOpts = await this.$meteor.call('app.findCompanies', {
    //     selector: {}
    //   })
    // }
    onChange(id: String = '') {
      if (!id) return (this.company = null)

      // Get current company
      this.company = this.companyOpts.find((company) => {
        return company.id == id
      })
    }
  }
})
</script>
